version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "6000:6000"
    depends_on:
      - mongo
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: mydatabase
    volumes:
      - ./mongodb:/data/db