# Dependencies
node_modules/

# Hardhat build artifacts
cache/
artifacts/

# TypeChain output
typechain/
typechain-types/

# Coverage files
coverage/
coverage.json

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
